<dialog class="delete-dialog">
    <form action="<%= linkDelete %>" method="post">
        <h2>Delete Forever?</h2>
        <input type="hidden" name="id" value="<%= id %>" />
        <button type="button" class="close-dialog-btn">Cancel</button>
        <button type="submit">DELETE</button>
    </form>
</dialog>
