<dialog class="delete-dialog <%= id %>">
    <form action="<%= linkDelete %>" method="post">
        <h2>Delete Forever?</h2>
        <input type="hidden" name="id" value="<%= id %>" />
        <div>
            <span>
                <button type="button" class="close-dialog-btn">Cancel</button>
                <button type="submit">Delete</button>
            </span>
        </div>
    </form>
</dialog>
