<div style="display: none" class="modify-div <%= divClass %>">
    <% if (authenticated) {%> <% console.log(locals) %>
    <button class="delete-btn">DELETE</button>
    <button class="rename-btn">RENAME</button>
    <%- include('renameDialog', {linkRename, id}) %> <% } %>
    <!---->
    <%- include('deleteDialog', {linkDelete, id}) %>
</div>
