<div style="display: flex">
    <span>
        <p>Name:</p>
        <a href="<%= link %>"><%= name %></a></span
    >
    <span>
        <p>Size:</p>
        <p><%= size %></p>
    </span>
    <span>
        <p>Date:</p>
        <p><%= date %></p>
    </span>
</div>
