<dialog class="folder-dialog">
    <form action="" method="post">
        <h2>New Folder</h2>
        <input type="hidden" name="id" value="<%= folder.id %>" />
        <div>
            <input type="text" name="name" value="New Folder" />
            <span>
                <button type="button" class="close-dialog-btn">Cancel</button>
                <button type="submit">Create</button>
            </span>
        </div>
    </form>
</dialog>
