<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <% console.log(locals) %> <% rootFolders.forEach(folder => { %>
    <a href="/folders/<%= folder.id %>"><%= folder.name %></a>
    <% }) %>
    <body>
        <form action="/folders" method="post">
            <label for="folder">New Folder</label>
            <input type="text" name="folder" id="folder" />
            <button>add</button>
        </form>
    </body>
</html>
