<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Yuna | Log In', cssPath: 'styles/logIn.css'}) %>
    <body>
        <% if (locals.error) { %> <% console.log(error) %>
        <div class="error-cnt">
            <ul>
                <li><%= error %></li>
            </ul>
        </div>
        <%} %>
        <div class="log-in-cnt">
            <div>
                <span
                    ><img src="/icons/yuna.svg" alt="" />
                    <p>Yuna</p></span
                >
                <p>Cat approved file uploader!</p>
            </div>
            <form action="" method="post">
                <label for="username">Username </label>
                <input type="text" name="username" id="username" />
                <label for="password">Password</label>
                <input type="password" name="password" id="password" />
                <button>Log in</button>
                <a href="/sign-up">Don't have an account?</a>
            </form>
        </div>
    </body>
</html>
