<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Yuna | Sign Up', cssPath: ''}) %>
    <body>
        <img src="/icons/yuna.svg" alt="" />
        <form action="" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />
            <label for="email">Email </label>
            <input type="text" name="email" id="email" />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <label for="password-confirm">Confirm Password</label>
            <input type="password" name="passwordConfirm" id="passwordConfirm" />

            <button>Submit</button>
        </form>
    </body>
</html>
