.folderFileContainer {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0 6rem;
    padding-right: 2rem;

    .breadcrumbs {
        a {
            font-size: 1.2rem;
            color: var(--hover-color);

            &:hover {
                text-decoration: underline;
            }
        }

        img {
            width: 1rem;
        }
    }

    .btn-div {
        display: flex;
        gap: 0.5rem;
        margin-top: 0.4rem;

        button {
            display: flex;
            gap: 0.2rem;
            padding: 2px 8px;
            font-size: 12px;
            font-weight: bold;
            border: none;

            img {
                width: 1.2rem;
            }
        }

        button:first-of-type {
            color: white;
            background-color: var(--hover-color);

            &:hover {
                background-color: #fbbf24;
            }
        }
    }

    .folders {
        a,
        p {
            margin: auto;
        }

        a {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        span {
            display: flex;
            margin-bottom: 1rem;

            p {
                width: 20%;
                font-weight: 600;
            }

            p:first-of-type {
                width: 60%;
            }
        }

        > div {
            padding: 12px 0;
            border-top: solid 1px var(--primary-color);
            font-size: 0.8rem;

            a {
                width: 60%;
                color: var(--primary-color);
                text-decoration: none;
            }

            > p,
            > span {
                width: 20%;
                margin: auto;
            }

            span {
                p {
                    width: 60%;
                    font-weight: 400;
                }

                > div {
                    width: 40%;

                    > button {
                        padding: 0.6rem;
                        border: none;
                        background: none;
                        background-image: url("/icons/options.svg");
                        background-size: contain;
                        cursor: pointer;
                    }

                    img {
                        width: 1rem;
                    }

                    > div {
                        width: 10%;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        position: absolute;
                        right: 10rem;
                        z-index: 1;
                        padding: 1rem 0;
                        border-radius: 0.4rem;
                        box-shadow: var(--cnt-box-shadow);
                        background-color: #ffffff;

                        > button {
                            display: flex;
                            align-items: center;
                            padding: 5px;
                            border: none;
                            background: none;
                            cursor: pointer;

                            p {
                                margin: 0 0 0 8px;
                                font-size: 15px;
                                font-family: "Rubik", sans-serif;
                                text-align: start;
                            }

                            &:hover {
                                background-color: var(--secondary-color);
                            }
                        }
                    }
                }
            }

            img {
                width: 1.5rem;
            }
            &:hover {
                background-color: #e5e5e5;
            }
        }
    }
}

.empty {
    margin: 5rem auto 0 auto;
    font-size: 1.7rem;
}
