@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
    --primary-color: #111827;
    --secondary-color: #a8a29e;
    --hover-color: #fcd34d;
    --cnt-box-shadow: 4px 9px 35px -20px rgba(0, 0, 0, 0.75);
}

html {
    font-family: "Rubik", sans-serif;
}

.error-cnt {
    position: absolute;
    width: 30%;
    border: solid 2px #ef4444;
    left: 35%;
    top: 10%;

    li {
        margin-bottom: 4px;
        font-style: italic;
        font-size: 14px;
    }
}

button {
    cursor: pointer;
}

.sign-up-cnt,
.log-in-cnt {
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding: 4rem;
    transform: translateY(50%);
    box-shadow: var(--cnt-box-shadow);
    border-radius: 3rem;

    > div {
        width: 30%;
        text-align: center;
        span {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1rem;
            font-family: "Pacifico";
            font-size: 1.5rem;
            color: white;

            img {
                width: 7rem;
                margin-right: 0.6rem;
            }

            p {
                background-color: #fcd34d;
                padding: 4px;
            }
        }

        > p {
            font-size: 1.2rem;
        }
    }

    form {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-left: 5rem;

        input {
            width: 70%;
            margin-bottom: 1rem;
            padding: 5px;
        }

        label {
            font-size: 14px;
        }

        button {
            width: 15%;
            padding: 10px;
            border: solid 2px var(--primary-color);
            border-radius: 2rem;
            background: none;
            cursor: pointer;
        }

        a {
            margin-top: 1rem;
            font-size: 12px;
            font-style: italic;
        }
    }
}

.folder-dialog,
.file-dialog,
.share-dialog,
.rename-dialog,
.delete-dialog {
    padding: 0 2rem 2rem 2rem;
    border: none;
    border-radius: 1rem;

    input,
    select {
        padding: 6px 8rem 6px 5px;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    button {
        background: none;
        border: none;
        color: var(--hover-color);
        font-weight: 600;
    }
}

.file-dialog {
    input::file-selector-button {
        padding: 8px;
        border: none;
        cursor: pointer;
        font-family: "Rubik", sans-serif;
        font-weight: 600;
    }
}

.share-dialog {
    div {
        label {
            font-size: 15px;
        }
        select {
            border: none;
            font-family: "Rubik", sans-serif;
        }
    }
}

.rename-dialog,
.delete-dialog {
    padding-bottom: 1rem;
}
