nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    img {
        width: 4rem;
    }

    a {
        padding: 10px;
        border: solid 2px var(--secondary-color);
        font-size: 12px;
        color: black;
        text-decoration: none;

        &:hover {
            background-color: var(--hover-color);
        }
    }
}
